a{
	text-decoration:none !important;
	color:#fff;
}
body{
	font-size:18px;
}
.sidebar{
	float:left;
	width:20%;
	height:620px;
	background-color:#666;
}
.user-panel{
	width:100%;	
}
.user-panel.image{
	position:relative;
	width:100%;	
}
.image img{
	padding:10%;
	width:100%;	
	max-width: 228px;
    max-height: 228px;
}
.sidebar-menu{
	list-style:none;
	font-size:20px;
	padding-right:14.035088%;
}
.sidebar-menu li.header{
	background:#000;
	font-weight:bold;
	color:#fff;
}
.sidebar-menu li{
	padding:10px;
	margin:10px 0 15px 0;
}
.content-wrapper{
	position:relative;
	float:left;	
	width:80%;
	height:620px;
	border-top:solid 3px Silver;
	border-bottom:solid 3px Silver;
	border-right:solid 3px Silver;
}
.content-header{
	padding:30px 0 0 6%;
}
.content{
	position:relative;
	margin: 3px 2% 0 1%;
	width:98%;
	background:#666;
	border-radius:8px;
	color:#F5F5F5;
}
.menu{
	padding:5px 30px;
	height:62.82px;
	border-bottom:solid 2px Silver;
}
.source_menu{
	padding:5px 40%;
	height:62.82px;
	border-bottom:solid 2px Silver;
}
.menu-add{
	padding:5px 15%;	
}
.dark-matter label{
	color:#000;
	width:100%;
	padding:15px 16%;	
}
.text{
	width:60%;	
	color:#000;
}
.search-btn{	
	margin:15px 0 0 15%;
}
.main-footer{
	line-height:2.5;
	width:100%;	
	background:#337ab7;
	position:absolute;
	bottom: 0;
}
.main-footer strong{
	padding-left:6%;
}

/* 管理员 */
.select-input{
	border-style:inset;
	border:#999 2px solid;
	height:34px;
	width:238.667px;
}
.ad-dark-matter label{
	width:100%;
	padding:15px 25%;
	color:#000;	
}
.ad-menu{
	padding:5px 10%;
	border-bottom:solid 2px Silver;
	margin-bottom:15px;
}
.register-btn{	
	margin:15px 0 15px 25%;
}
.list-menu{
	float:left;
}
.add-button{
	float: left;
    margin: 16px 0 0 50px;
    padding: 5px;
    /* border: solid 2px #337ab7; */
    background:#337ab7;
    border-radius:4px;
}
.table_a{
	color:#fff;
	text-align:center;
	margin:10px 5%;
	width:90%;
}
.table_a tr{
	height:40px;
}
.schedule{
	/* float:left; */
	color:#fff;
	text-align:center;
	margin:10px 0 10px 10%;
	width:80%;
}
.pass_btn{
	margin: 10px;
    padding: 6px 10px;    
    background:#32CD32;
    border-radius:4px;
}
.had_btn{
	margin: 10px;
    padding: 6px 10px;    
    background:#DC143C;
    border-radius:4px;
}
.delete_btn{
	margin: 10px;
    padding: 6px 10px;    
    background:#337ab7;
    border-radius:4px;
}
.delete_btn:hover{	  
    background:#286090;
}